@import './mixins';

// FONTS
@import './fonts';

body{
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    color: $primary;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;

    @media screen and (max-width: 1170px) {
        padding: 0 10px;
    } 
  }

//   BLOKCS
@import 'blocks/header.scss';
@import 'blocks/techwork.scss';
@import 'blocks/button.scss';
@import 'blocks/timer.scss';
@import 'blocks/footer.scss';