@font-face {
  font-family: 'Lato';
  src: url(9919edff6283018571add043109dc20b.ttf) format("truetype"), url(5dd5aa0269395f0ea92763e6cb3bc07a.ttf) format("truetype");
  font-style: normal; }

body {
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  color: #35373B; }

*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto; }
  @media screen and (max-width: 1170px) {
    .container {
      padding: 0 10px; } }

.header {
  padding-top: 26px;
  padding-bottom: 22px;
  border-bottom: 1px solid #ECECF0; }

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media screen and (max-width: 770px) {
    .header__inner {
      flex-direction: column;
      text-align: center; } }

.logo img {
  width: 191px;
  height: 42px; }
  @media screen and (max-width: 770px) {
    .logo img {
      margin-bottom: 20px; } }

.logo__text {
  font-size: 15px;
  font-weight: 400;
  color: #72757D; }

.techwork {
  margin-top: 101px;
  margin-bottom: 130px; }
  @media screen and (max-width: 770px) {
    .techwork {
      margin-top: 20px;
      margin-bottom: 20px; } }

.techwork__inner {
  display: flex; }

@media screen and (max-width: 1140px) {
  .techwork__item img {
    display: none; } }

.techwork__text {
  padding-right: 84px; }
  .techwork__text p {
    margin: 0; }
  .techwork__text p:first-child {
    font-size: 90px;
    font-weight: 700; }
  .techwork__text p:nth-child(2) {
    font-size: 32px;
    font-weight: 700;
    padding-top: 24px; }
  .techwork__text p:nth-last-child(2) {
    font-size: 22px;
    font-weight: 400;
    padding-top: 25px; }
  .techwork__text p:last-child {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.6;
    padding-top: 25px;
    color: #828282; }
  @media screen and (max-width: 1130px) {
    .techwork__text {
      padding-right: 26px; } }
  @media screen and (max-width: 1140px) {
    .techwork__text {
      text-align: center;
      padding-right: 0; } }

.techwork__button {
  display: flex;
  align-items: center;
  margin-top: 45px; }
  @media screen and (max-width: 1140px) {
    .techwork__button {
      flex-direction: column; } }

.button {
  background: #4073FF;
  border-radius: 6px;
  color: white;
  padding: 13px 28px;
  border: none;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
  transition: background .1s linear; }
  .button:hover {
    background: #2e64f7; }

#timer {
  margin-left: 25px;
  color: #4073FF;
  font-size: 22px;
  font-weight: 400; }
  @media screen and (max-width: 1024px) {
    #timer {
      margin-left: 0;
      margin-top: 20px; } }

.minutes,
.seconds {
  display: inline-block; }

.footer {
  padding-top: 34px;
  padding-bottom: 34px;
  border-top: 1px solid #ECECF0; }

.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.footer__copy {
  font-size: 16px;
  font-weight: 400;
  color: #72757D; }
  .footer__copy a {
    text-decoration: none;
    color: #72757D; }

.footer__social a:first-child {
  margin-right: 14px; }

.footer__social img {
  width: 40px;
  height: 40px;
  cursor: pointer; }


/*# sourceMappingURL=main.css.map*/