.footer {
    padding-top: 34px;
    padding-bottom: 34px;
    border-top: 1px solid $whiteline;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__copy {
    font-size: 16px;
    font-weight: 400;
    
    color: $secondary;

    & a {
        text-decoration: none;
        color: $secondary;
    }
}

.footer__social {

    & a:first-child {
        margin-right:14px;
    }

    & img {
        width: 40px;
        height: 40px;
        cursor: pointer;
    }

}