#timer {
    margin-left: 25px;
    color: $blue;
    font-size: 22px;
    font-weight: 400;

    @media screen and (max-width: 1024px) {
        margin-left: 0;
        margin-top: 20px;
    }  
}

.minutes,
.seconds {
    display: inline-block;
}